name: Build & Deploy Azure Function (.NET 8 isolated)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Publish
        run: dotnet publish src/F_TESTE/F_TESTE.csproj -c Release -o publish

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: frafaelteste
          package: publish
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
